.footer {
    position:relative;
    text-align: center;
    background-color: rgb(247, 203, 122, 0.815);
    color: white;
    font-size: medium;
    padding-bottom: 5px;
    text-align: center;
  }
  