<div class="fff">
  {{ 'HOME.FOOTER' | translate }}
  <div class="container">

    <!-- Social buttons -->
    <div class="sharethis-inline-share-buttons"></div>
     <!-- <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="small">
        <iframe
        src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&appId"
        width="67" height="20" class="facebook" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
      </li>

      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1"  href="https://twitter.com/share" data-text="Here's something cool">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>

      <li class="list-inline-item">
        <a href="mailto:?subject=Check out this event at Open-Api.MyHelsinki&amp;body=I found this event and thought I should share it with you:#"
          class="box mail bg-secondary" data-event-tracking="click" data-event-category="Sharing"
          data-event-name="Email: job preview" data-event-label="http://open-api.myhelsinki.fi/">
          <span class="share"><span><i class="far fa-envelope mr-2"></i>Mail</span><span>
            </span></span></a>

      </li>

    </ul> -->
    <!-- Social buttons -->
  </div>
  <span>Meal Planner &copy; 2021 Ralitsa Batista</span>
</div>
