<app-nav-bar></app-nav-bar>
<div class="container">
  <br><br>
  <p>Hi, my name is Ralitsa Batista and I currently study Program Development at Helsinki Business College. Enjoy the
    Meal-PLanner App. I welcome constructive feedbacks and ideas about the App so please feel free to contact me.</p>
  <p>I have come up with the idea of creating Meal-Planner App as I have gone throught the struggle of wondering how and
    when could I start introducing solids to my children and what is best to start with. Sometimes getting too much
    information from different sources can be challenging and confusing. The battle with the weight gain and how to
    mantain a healthy lifestyle interests me personally.</p>
  <p>The application could be suggested also by Maternity clinics and consultations to their clients and patients as
    well.</p>

  <div class="col">

    <!-- Links -->
    <p class="text-uppercase">Let's get in touch</p>
    <hr class="teal accent-3 mb-4 mt-0 d-inline-block" style="width: 60px;">
    <p>
      <i class="fa fa-home mr-3"></i>Helsinki, Finland
    </p>
    <p>
      <i class="fa fa-envelope mr-3"></i> ralivd@gmail.com
    </p>
    <p>
      <i class="fa fa-phone mr-3 pb-3"></i> + 358 45 1122 994
    </p>

  </div>
</div>
<app-scroll-to-top></app-scroll-to-top>
