<app-food-search></app-food-search>
<div class="body-food">
<h1>{{ 'HOME.MYBABYMEAL' | translate }}</h1>
<div>
  <label class="food_name">{{ 'HOME.FOODNAME' | translate }}:
    <input #foodName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(foodName.value); foodName.value=''">
    {{ 'HOME.ADD' | translate }}
  </button>
</div>

<ul class="foods col-md-8 ml-2">
  <li *ngFor="let food of foods" class="col-md-12 row">
    <a class="col-md-8 pl-0 food-item" routerLink="/detail/{{food.id}}">
      <span class="badge">{{food.id}}</span><span class="food-name pl-3">{{food.name}}</span>
    </a>
    <button  class="edit btn " data-container="body" data-trigger="hover" data-toggle="popover" title="Edit item" data-content="Edit "
    (click)="edit(food)"><i class="bi bi-pencil-square"></i>
    </button>
    <button  class="delete btn btn-danger" data-container="body" data-trigger="hover" data-toggle="popover" title="Delete food" data-content="Delete "
      (click)="delete(food)"><i class="bi bi-trash text-danger1"></i>
    </button>
  </li>
</ul>
</div>
<app-scroll-to-top class="scroll"></app-scroll-to-top>
