
.body-food{
  align-items: center;
  justify-content: center;
  background-position: bottom center;
  background-attachment: fixed;
  background-size: cover;
  padding: 0.7em;
  height: 55vh;
  background-color: whitesmoke;
  background-image: url(https://source.unsplash.com/BYpBzfyKP_I/1600x900);
}

h1{
  color: #e06049;
  font-size: 5rem;
  text-align: center;
}
.food_name{
  font-size: 14px;
  margin:2rem;
}

ul .foods {
  list-style-type: none;
  padding: 0;
  width: 60%;
  font-size: 1.5rem;
}

ul.foods a {
  display: block;
  white-space: nowrap;
  text-decoration: none;
  color: #444;
  background-color: rgba(197, 193, 193, 0.473);
}

ul.foods a:hover {
  background-color: #e06049;
}

ul.foods .badge {
  min-width: 30px;
  font-size: 1.2em;
  background-color: rgba(143, 142, 142, 0.644);
  border-radius: 4px 0 0 4px;
  line-height: 18px;
  color: #FFF;
}
button.delete,a.delete,button.edit,a.edit {
  color: white;
  width: 30px;
  float: left;
  text-align: center;
  margin-left: 5px;;
}
.edit{
  background-color: #72b1ec;
}

.foods_ li {

  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.8em;
  border-radius: 4px;
  width: 60%;

}

.foods_ li:hover {
  color: #615b5b;
  background-color: #DDD;
  left: .1em;
}

.foods_ a {
  color: #333;
  text-decoration: none;
  position: relative;
  float: left;
  height: 1.5rem;

}

.foods_ a:hover {
  color: #53524d;
}

.foods_ .badge {
  display: inline-block;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #53524d;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  font-size: 1.5rem;
}
.food-name{
  font-size: 1.5rem;
}

@media screen and (min-width: 375px) {

.foods li {

  width: 100% !important;
}

}






