
/*.body-food{*/
h1{
  color: rgb(46, 44, 44);
  font-size: 4rem;
  text-align: center;
}
.food_name{
  font-size: 1.5rem;
  margin:2rem;
}

ul.foods {
  list-style-type: none;
  padding: 0;

  font-size: 2rem;
}

ul.foods a {
  display: block;
  white-space: nowrap;
  text-decoration: none;
  color: #444;
  background-color: rgba(197, 193, 193, 0.473);
}

ul.foods a:hover {
  background-color: #e06049;
  color: #FFF !important;
}
ul.foods li a:hover .delete {
  color: #FFF !important;
}
ul.foods .badge {
  min-width: 10%;
  font-size: 2rem;
  background-color: rgba(143, 142, 142, 0);
  border-radius: 4px 0 0 4px;
  line-height: 18px;
  color: #FFF;
}
button.delete,a.delete,button.edit,a.edit {
  color: white;
  float: left;
  text-align: center;
  margin-left: 5px;;
}

.edit{
  background-color: #72b1ec;
}

.foods_ li {
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.8em;
  border-radius: 4px;
  width: 60%;
}

.foods_ li:hover {
  color: #615b5b;
  background-color: #DDD;
  left: .1em;
}

.foods_ a {
  color: #333;
  text-decoration: none;
  position: relative;
  float: left;
  height: 1.5rem;

}

.foods_ a:hover {
  color: #53524d;
}

.foods_ .badge {
  display: inline-block;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #53524d;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  font-size: 2rem;
}
.food-name{
  font-size: 2rem;
}

@media screen and (min-width: 375px) and (max-with: 765px) {

.foods li {
  width: 100% !important;
}

}






