.frontpage{
    background-color:whitesmoke;
    border: 1px solid #e06049;
    color: black;
    margin-left:5px;
    font-size: 1.5rem;
}

h1 {
  font-size: 3em;
  margin-bottom: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #334953;
}
nav a:hover {
  color: white;
  background-color: #e06049;
}
nav a.active {
  color: #e06049;
}

@media screen and (min-width: 375px) {


}

@media screen and (min-width: 425px) {}








