.babymeal_frontpage{
  height:100%;
  width: 100%;;
  background-color: rgb(243, 212, 146);
}

h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #334953;
}
nav a:hover {
  color: white;
  background-color: #f3684f;
}
nav a.active {
  color: #f0b548;
}

@media screen and (min-width: 375px) {


}

@media screen and (min-width: 425px) {}








