.frontpage{
  background-color:whitesmoke;
  border: 1px solid #e06049;
  color: black;
  margin-left:5px;
  font-size: 14px;
}
.contInfo{
    background-image: url(https://source.unsplash.com/24RUrLSW1HI/1600x900);
    align-items: center;
    justify-content: center;
    background-position: bottom center;
    background-attachment: fixed;
    background-size: cover;
    padding: 0.7em;
    height: 55vh;
}
p {
  margin: 15px;
  font-size: 2rem;
}


h1, h2 {

  font-size: 4rem;;
  color: white;
  text-align: center;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #334953;
}
nav a:hover {
  color: white;
  background-color: #f3684f;
}

.card-link{
   margin: 0 0 5px;
   color: #3b4151;
   display: flex;
   align-items: center;
   cursor: pointer;
   -webkit-transition: all .2s;
   transition: all .2s;
   }
 .card-body{
   background: whitesmoke;
 }
 .row{
   margin:0;
 }

