.frontpage {
  border: 1px solid #e06049;
  border-radius: 4px;
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: rgb(238, 238, 238);
  border-radius: 4px;
  margin-left: 5px;
  font-size: 1.5rem;
}

.frontpage:hover {
  color: white;
  background-color: #f3684f;
}
.contInfo {
  color: rgb(59, 58, 56);
  text-align: right;
  height: 60vh;
  font-size: 2.5rem;
  align-items: center;
  justify-content: center;
  background-position:  center;
  background-attachment: fixed;
  background-size: cover;
  background-color: whitesmoke;
  background-image: url(https://source.unsplash.com/XbZgARqXROc/1600x900) !important;
}

.contInfo li{
  list-style-type: none;
}

h1 {

  text-align: center;
  padding: 5px;
}


.bbb{
position: relative; /* required */
font-size: 1.5rem;
}
.list-group{
    position: sticky; /* Supported in latest version of Chrome, Firefox, Safari, Opera and Edge browsers */
    top: 15px;
}
.list-group-item.active{
  background-color:rgb(170, 165, 165);
  border-color: rgb(121, 70, 70);
}

.container {
 width: 100%;
}

.infodescription{
  font-size: 2.5rem;
}

@media screen and (max-width: 765px) and (min-width: 375px) {
  .contInfo {
    width: 100% !important;

  }

}
