<nav>
  <a routerLink="/frontpage" class="frontpage "> {{ 'HOME.FRONTPAGE' | translate }}</a>
</nav>

<div class="row">
    <div class="col-12">
     <h1>{{ 'HOME.info-intro' | translate}}</h1>

    <h2 class="text-mg-center"> {{ 'HOME.info-heading' | translate}}</h2>
</div>
&nbsp;
<span class="border border-primary">
<p class="bg-primary m-0" >{{ 'HOME.p1' | translate}}</p></span>
&nbsp;
<span class="border border-success">
<p><span style="font-weight:bold;">{{ 'HOME.when' | translate}}:</span>
    <br>
    Knowing when to start baby food is both crucial and tricky. Starting baby on solids too early means you might increase the risk of choking, obesity and bellyaches, but introducing solids too late means you might slow baby’s growth and encourage an aversion to solid foods, among other conditions. Fortunately, doctors have zeroed in on a sweet spot for starting baby food, which is sometime between 4 and 6 months of age—though, ideally, baby should be receiving their nutrition exclusively from breast milk until the six-month mark, according to the American Academy of Pediatrics (AAP). How to tell if it’s time for starting solids for your little one? Baby will give you clues, including:
    <br>
    • Baby can sit in a high chair comfortably on their own. This is a major sign in terms of when to start baby food, says Lauren Kupersmith, MD, a pediatrician at Hassenfeld Children’s Hospital at NYU Langone in New York City. It means baby can hold their head up and doesn’t need to be propped up to stay in the upright position, which is important to avoid choking.
    <br>
    • Baby looks interested at mealtime. Babies likes to mimic what we do, so if your child likes to sit up like a big kid and watch you eat, then by all means let them try eating too.
    <br>
    • Baby can move food to the back of their throat to swallow. But if baby tends to push the food out of their mouth—not because they don’t like it, but because they can’t seem to get the food to where it needs to go—hold off on starting solids.</p></span>
    &nbsp;
    <span class="border border-warning">
    <p><span style="font-weight:bold;">{{ 'HOME.how' | translate}}</span> <br>
        {{ 'HOME.p3' | translate}}</p></span>
        &nbsp;
        <span  class="border border-success">
        <p><span style="font-weight:bold;"> {{ 'HOME.best' | translate}}</span>
            <br>
            Got baby safely strapped into the high chair and bib? You’re ready to finally start feeding baby solids! There aren’t any official food rules for babies starting solids, and there’s no scientific evidence suggesting you should introduce one type of food before another, assuming the foods aren’t choking hazards. Nevertheless, baby cereal (such as oatmeal, rice and barley) is an “easy training food,” says Kupersmith, which is why it’s often recommended as baby’s first food; you can always mix it with more milk to build up to a thicker consistency. Many doctors also recommend starting vegetables before fruits, but there’s no evidence that this would make babies like vegetables more when they grow up—babies innately love sweets, and the order of introducing solids to baby doesn’t change that.
            <br>
            So why not simply start introducing solids with something you think baby will like? Here are a few common first foods for baby that are healthy and easy to eat (and, in the case sweet potato and banana, also easy to digest). Whatever you decide to feed baby, mash it with a fork or puree before serving whenever introducing solids.
            <br>
        <span style="font-weight:bold; color:darkgreen">Baby cereal, such as oatmeal, rice, barley
            <br>
            Sweet potato
            <br>
            Banana
            Avocado
            Apples
            Pears
            Green beans
            Butternut squash</span>
            If your child has been breastfeeding, check with your pediatrician about getting a jump on pureed chicken or beef when you’re starting solids. These foods contain easily absorbable forms of iron and zinc, which baby needs by 4 to 6 months, according to the AAP.
            <br>
            At around 9 months, baby should have already worked their way up to a variety of foods, including cereal, vegetables, fruits, meats, eggs and fish (see below regarding the last two). (Keep in mind, though, that baby will still get the majority of their nutrients from breast milk or formula until age one.) By now, baby will probably settle on three meals a day along with two snacks. Let them consume about 4 ounces of solids at each meal (equivalent to a small jar of strained baby food) and about half that amount for each snack.
            <br>
            Save honey and cow’s milk for after baby’s first birthday—there’s a risk for infant botulism with honey (a type of bacterial poisoning), and baby’s tummy isn’t prepared to digest large amounts of cow’s milk until they’re about one year old. Avoid adult processed foods and foods that are choking hazards (such as sticky foods, like large gobs of peanut butter; hard foods that are difficult to gum, like raw vegetables, nuts, seeds and popcorn; and round, slippery foods that haven’t been cut up, like grapes and cherry tomatoes). Instead, the first foods for baby, and those in the months that follow, should be soft and served mashed, pureed or (once baby seems ready to move up from the really mushy stuff) cut up into really little bits. “There’s pretty much free reign at that point,” Kupersmith says.</p> </span>
            &nbsp;
            <span class="border border-danger">
            <p>Introducing Allergenic Foods
                Much of the confusion around when to start baby food stems from questions concerning allergenic foods. These are foods that babies are most often allergic to. The major culprits include dairy, eggs, fish, peanuts and tree nuts. In the past, parents were advised to hold off on exposing baby to these foods, but now doctors recommend introducing them early, often and in age-appropriate format, which means starting off with purees and soft textures.

                “Dairy is an easy starting point, given options such as yogurt and cheese,” says David Stukus, MD, director of the Food Allergy Treatment Center at Nationwide Children’s Hospital and a spokesperson for the American College of Allergy, Asthma, & Immunology. You can also try scrambled eggs in small amounts, although baby may not be too pleased with the texture at first.

                As far as peanut products go, the National Institutes of Health issued new guidelines in 2017 that encourage parents of children at high risk for peanut allergies to incorporate them into baby’s diet at 4 to 6 months of age. Giving these babies peanut products before the age of one actually decreases their risk of developing a peanut allergy before age 5 by 81 percent, compared to kids who are introduced to peanuts later in life. Parents of kids without the food allergy risk can start peanut products whenever they’d like, as long as the nuts are in an age-appropriate form: Peanut butter can be thinned out with water or mixed into a fruit or vegetable puree, and peanut powder can also be mixed into cereal and fruits. Don’t give whole peanuts or pieces of peanuts, since they’re a choking risk.

                Allergic reactions to food are never just a fluke; they will happen with every exposure. Symptoms can range from mild (such as a rash or vomiting) to severe (such as trouble breathing). If baby has a food allergy, you’ll notice a reaction within minutes or up to two hours after eating the problematic food, Stukus says. If the symptoms are severe, call 112 right away. Otherwise, talk to your pediatrician; she can help confirm whether it’s an allergy or some other type of condition (such as a viral illness).</p>
            </span>
            </div>

