<!--<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav"> -->

<!-- Toolbar -->
<div class="toolbar" role="banner">

  <!-- Choose language -->
  <div class="spacer">
    <label for="">
      {{ 'HOME.SELECT' | translate }}
      <select #langselect (change)="setLanguage(langselect.value)" [(ngModel)]="selectLang" name="selectLang">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{ lang }}</option>
      </select>
    </label>
  </div>
  <div class="nav-container mr-5d-flex justify-content-between">
    <nav class="navbar-nav navbar-expand-md pl-5">
      <div class="container">
        <div class="navbar-nav pl-5">
          <app-main-nav></app-main-nav>
        </div>
      </div>
      <app-login-button *ngIf="(auth.isAuthenticated$ | async) === false"></app-login-button>
      <app-logout-button *ngIf="auth.isAuthenticated$ | async"></app-logout-button>
    </nav>
  </div>
</div>

<!-- Frontpage -->
<div class="content" role="main" id="changelang">
  <!-- Highlight Card -->
  <div class="card card-small" id="titleapp">
    <span class="title">{{ 'HOME.TITLE' | translate }}</span>
  </div>
  <!-- Resources -->
  <h2 class="planning">{{ 'HOME.PLANNING' | translate }}</h2>


  <nav class="card-container">
    <!--Own Meal-->
    <a routerLink="/own-meal" class="card">
      <i class="fas fa-carrot"></i>&nbsp;&nbsp;
      <span>{{ 'HOME.OWN-MEAL' | translate }}</span>
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
    </a>

    <!--Baby Meal-->
    <a routerLink="/baby-meal" class="card">
      <i class="fas fa-baby"></i>&nbsp;&nbsp;
      <span>{{ 'HOME.BABY-MEAL' | translate }}</span>
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
    </a>

    <!--Info-->
    <a routerLink="/info" class="card">
      <i class="fas fa-info"></i>&nbsp;&nbsp;
      <span>{{ 'HOME.INFORMATION' | translate }}</span>
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
    </a>
  </nav>
</div>