
#titleapp h1 {
  font-size: 5rem;
  color: white;
}

#titleapp {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: bottom center;
  background-attachment: fixed;
  background-size: cover;
  padding: 0.7em;
  height: 55vh;
  background-image: url(https://source.unsplash.com/Iv9Sd16XrQE/1600x900);
}
h2 {
  font-size: 3rem;
  color: black;
  margin: 6rem 0 1rem 1rem;
  padding: 5px;
}
.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 16px;
}

.card {
  cursor: pointer;
  height: 200px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32% !important;
}
nav a {
  height: 200px !important;
  padding: 10px;
  text-decoration: none;
  font-size: 2.5rem;
  border-radius: 4px;
  color: rgb(78, 72, 64);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
nav a:visited,
a:link {
  color: #334953;
}



/*Responsive Styles*/
@media screen and (max-width: 767px) {

  .card {
    width: 100% !important;

  }
}





