<app-nav-bar></app-nav-bar>

<!-- Frontpage content-->
<div class="front" role="main" id="frontpage">
  <!-- Title -->
  <div id="titleapp">
    <h1>{{ 'HOME.TITLE' | translate }}</h1>
     <p>{{ 'HOME.PLANNING' | translate }}</p>
  </div>

  <nav class="card-container">

    <!--Own Meal-->
    <div class="card">
      <a routerLink="/own-meal">
        <i class="fas fa-carrot"></i>&nbsp;&nbsp;
        <span>{{ 'HOME.OWN-MEAL' | translate }}</span>
      </a>
    </div>

    <!--Baby Meal-->
    <div class="card">
      <a routerLink="/baby-meal">
        <i class="fas fa-baby"></i>&nbsp;&nbsp;
        <span>{{ 'HOME.BABY-MEAL' | translate }}</span>
      </a>
    </div>


    <!--Info-->
    <div class="card" >
      <a routerLink="/info">
        <i class="fas fa-info"></i>&nbsp;&nbsp;
        <span>{{ 'HOME.INFORMATION' | translate }}</span>
      </a>
    </div>
  </nav>
</div>

<app-footer></app-footer>
