/*laptop first */
#navbar {
  max-width: 100%;
  overflow: auto;
  background-color: rgb(77, 74, 72);

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-link {
  float: left;
  padding: 12px;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}
.nav-link:hover {
  color:#e06049;
}
.language {
  font-size: 14px;
}

/*Responsive Styles*/

/*Tablet*/
@media screen and (min-width: 768px) {
  .card-container > *:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  #titleapp {
    width: 100%;
  }

  svg {
    right: 120px;
    transform: rotate(-5deg);
  }
}
/*Mobile*/


@media screen and (min-width: 768px) {
  #navbar{
    width: 100%;
  }

}
@media screen and (max-width: 765px) and (min-width: 375px){

  #langlog{
    background-color: inherit;
    box-shadow: none;
    width: 40%;
    margin-left: 60%;
  }
  .custom-select{
    margin-left:80%;
  }

  #titleapp {
    width: 100%;
  }
}
