<app-nav-bar></app-nav-bar>
<div class="recipe-container"></div>



















<!-- <div class="container">
 <h1>{{ 'HOME.PROFILE' | translate }}</h1>

  <div *ngIf="auth.user$ | async as user">
    <div class="row align-items-center profile-header">
      <div class="col-md-2 mb-3">
        The picture of the user will be taken from the user
        <img [src]="user.picture"
              alt="User's profile picture"
              class="rounded-circle img-fluid profile-picutre"
        />
      </div>
      <div class="col-md text-center text-md-left">
        <h2>{{ user.name }}</h2>
        <p>{{ user.email }}</p>
      </div>

  </div>
  </div>
  </div> -->
